.container{
    padding: 0;
}
section{
    position: relative;
    min-height: 33.34vh;
    overflow: hidden;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}
article{
    display: flex;
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 33.34vh;
    padding: 0 50px 0 50px;
    flex-shrink: 0;
    background: rgba(74, 88, 97,.9);
    transition: 0.5s;
    cursor: pointer;
}
.cover:hover{
    width: calc(100% - 40px);
}
.cover.open{
    width: 35%;
    padding: 0 50px 0 200px;
}
.aboutTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.aboutCon{
    flex-shrink: 0;
    width: 65%;
    background: rgba(220, 249, 255, 0.8);
}
h3{
    font-family: 'Noto Serif TC', serif;
}
/* <!-- --------------------------------------story----------------------------------- --> */
.storyCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 25px 50px;
}
.story{
    width: 100%;
}
.story:nth-child(1){
    margin: 0 0 30px 0;
}
.story h3{
    font-weight: 800;
    color: #333
}
.story p{
    font-weight: 400;
    color: #333
}
/* <!-- --------------------------------------contact----------------------------------- --> */
.contactCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}
.contactItem{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}
.contactItem:nth-child(3){
    margin: 0 0 0 0;
}
.contactItem h3{
    font-weight: 800;
    color: #333;
    margin: 0 30px 0 0;
}
.contactItem p{
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: 400;
    color: #333
}
.contactItem span{
    display: inline-block;
    padding: 0 10px 0 0; 
    color: #777;
}
.contactItem a.hyperlink{
    display: block;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: rgba(0,0,0,.35);
    transition: .5s;
}
.contactItem a.hyperlink:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
iframe{
    width: 450px ;
    height: 320px; 
}
/* <!-- --------------------------------------mailbox----------------------------------- --> */
.mailboxCon{
    padding: 25px 50px;
}
.mailbox label{
    margin: 0 8px 20px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 1.5px;
    color: #333
}
#CSMail{
    display: inline-block;
    width: 250px;
    margin: 0 0 20px 0;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 400;
}
.mailbox select{
    display: inline-block;
    width: 250px;
    margin: 0 0 20px 0px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 400;
}
.mailboxError{
    display: none;
    margin: 0 0 8px 0;
    font-size: 0.9rem;
    font-weight: 800;
    color: #ED4956;
}
.CSText{
    width: 100%;
    max-width: 600px;
    margin: 0 0 0 0;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1.5px;
    resize: none;
    -ms-overflow-style: none;
    vertical-align: top;
}
.CSText::-webkit-scrollbar{
    display: none;
}
.CSSubmit{
    width: 150px;
    height: 40px;
    margin: 30px 0 0 0;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.CSSubmit:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
/* <!-- --------------------------------------RWD----------------------------------- --> */
@media only screen and (min-width: 1024px){
    .contactItem:nth-child(1) a.hyperlink{
        display: none;
    }
}    
@media only screen and (max-width: 768px){
    .cover{
        padding: 0;
    }
    article{
        flex-direction: column;
    }
    .cover{
        width: 100%;
    }
    .aboutCon{
        width: 100%;
    }
    .cover:hover{
        width: 100%;
    }
}