.selectCon{
    position: relative;
    max-width: 1300px;
    margin: 30px auto 0 0;
}
.guestPhoto{
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    clip-path: polygon(34% 0, 100% 0, 100% 100%, 67% 100%);
    transition: 0.5s;
}
.ukata{
    height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    clip-path: polygon(33% 0, 0 0, 0 100%, 66% 100%);
    transition: 0.5s;
}
.ukata:hover, .guestPhoto:hover{
    opacity: 0.85;
}
.ukata a, .guestPhoto a{
    display: block;
    width: 100%;
    height: 700px;
}
.ukata img, .guestPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.guestPhoto img{
    position: absolute;
    z-index: -1;
    left: 130px
}
.ukata::after{
    content: "";
    position: absolute;
    left: 0% ;
    top: 78% ;
    transform-origin: left center;
    transform: rotate(-60deg);
    z-index: 0;
    width: 600px;
    height: 900px;
    background: url(../images/album-select/waveLeft.png) no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    opacity: 0.65;
    transition: 1.5s;
}
.guestPhoto::before {
    content: "";
    position: absolute;
    right: 7.5%;
    bottom: 78%;
    z-index: 0;
    width: 600px;
    height: 900px;
    background: url(../images/album-select/wave-Right.png) no-repeat;
    background-size: 100%;
    background-position-y: 0%;
    transform-origin: right center;
    transform: rotate(-60deg);
    opacity: 0.65;
    transition: 1.5s;
}
.ukata:hover:after {
    background-position-y: 100%;
}
.guestPhoto:hover::before {
    background-position-y: 100%;
}

.con{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.top{
    justify-content: flex-end;
}
.utextshap{
    align-self: flex-end;
    display: flex;
    width: 35%;
    max-width: 350px;
    /* min-height: 120px; */
}
.top .utextshap{
    align-self: flex-start;
}
.utsq {
    padding-left: 10px;
}
.utext {
    font-size: 40px;
    line-height: 1;
    color: white;
    text-shadow: 0 0 5px #000;
}
.utext2 {
    padding: 20px 0 0 0;
    font-size: 0.9rem;
    color: white;
    text-shadow: 0 0px 3px #000;
    letter-spacing: 2px;
    line-height: 1.5;
}
.sq{
    width: 10px;
    /* height: 100px; */
    background: #569EA6;
    flex-shrink: 0;
    transition: 1s;
}
.ukata:hover .sq, .guestPhoto:hover .sq {
    animation: sq 1s;
    /* height: 0px; */
}
/* ================================animation======================================= */
@keyframes sq {
    0% {
        height: 102px;
    }
    25% {
        height: 0px;
    }
    50% {
        height: 0px;
    }
    100% {
        align-self: flex-end ;
        height: 102px;
    }
}
@media screen and (max-width: 1024px) {
    .selectCon{
        margin: 0;
    }
    .ukata {
        position: relative;
        height: 300px;
        margin: 20px 0 0 0;
        border-radius: 10px;
        clip-path: none;
    }
    .guestPhoto {
        position: relative;
        height: 300px;
        margin: 50px 0 0 0;
        border-radius: 10px;
        clip-path: none;
    }
    .ukata img, .guestPhoto img{
        width: auto;
    }
    .guestPhoto img{
        width: 250%;
        position: relative;
        top: -100px;
        left: -110%;
    }
    .con{
        justify-content: center;
        align-self: center;
    }
    .utextshap{
        align-self: center;
        width: 100%;
        height: 130px;
    }
    .top .utextshap{
        align-self: center;
    }
    .ukata::after {
        display: none;
    }
    .guestPhoto::before {
        display: none;
    }
    .ukata:hover .sq,
    .guestPhoto:hover .sq {
        animation-name: none;
    }
    .utext{
        font-weight:600;
        text-shadow: none;
    }
    .ukata:active, .guestPhoto:active{
        opacity: 0.5;
    }
    .utext2{
        text-shadow: none;
    }
    .utext::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        width:800px;
        height: 600px;
        opacity: 0.7;
        z-index:-1;
    }
    .utext-2::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        width: 800px;
        height: 600px;
        opacity: 0.7;
        z-index:-1;
    }
}
@media screen and (max-width: 580px){
    .sq, .sq2{
        display:none;
    }
    .utsq, .utsq2{
        padding: 0px;
        margin: 10px;
        align-self: center;
    }
    .utext, .utext-2{
        text-align: center;

    }
    .utext2, .utext2-2{
        line-height: 30px;
        text-align: center;
    }
}
