.buttonCon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0 10px 0;
}
.buttonCon p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #666;
}
.newPhoto{
    flex-shrink: 0; 
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 0 0 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.newPhoto:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.Imgctl {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bdra{
    border-radius: 5px;
    overflow: hidden;
    transition: 0.8s;
}
.bdra:hover{
    filter: brightness(30%)
}
.gridcon {
    display: grid;
    margin: 8px 0 0 0 ;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 310px 256px 344px 342px 310px 344px 256px 310px;
    grid-template-areas:
        "c b b1 g"
        "c a a h"
        "d a a i"
        "e e f i"
        "b3 b4 f j"
        "a1 a1 d1 k"
        "a1 a1 c1 k"
        "b5 b6 c1 l";
}

@media only screen and (max-width: 1200px) {
    .gridcon {
        grid-gap: 6px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px 150px 250px 250px 250px 250px 150px 250px 250px 150px 250px;
        grid-template-areas:
        "c b b1"
        "c a a"
        "d a a"
        "e e f"
        "b3 b4 f"
        "a1 a1 d1"
        "a1 a1 c1"
        "b5 b6 c1"
        "g g h"
        "i j h"
        "l k k"
        ;
    }
}

@media only screen and (max-width: 884px) {
    .gridcon {
        grid-template-rows: 200px 100px 200px 200px 200px 200px 100px 200px 200px 100px 200px;
    }
}
@media only screen and (max-width: 500px) {
    .gridcon {
        grid-gap: 3px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    }
}

.a {
    grid-area: a;
    background: #111;
}

.a1 {
    grid-area: a1;
    background: #111;
}

.b {
    grid-area: b;
    background: #444;
}

.b1 {
    grid-area: b1;
    background: #444;
}

.b2 {
    grid-area: b2;
    background: #e44;
}

.b3 {
    grid-area: b3;
    background: #444;
}

.b4 {
    grid-area: b4;
    background: #444;
}

.b5 {
    grid-area: b5;
    background: #444;
}

.b6 {
    grid-area: b6;
    background: #444;
}

.c {
    grid-area: c;
    background: #777;
}

.c1 {
    grid-area: c1;
    background: #777;
}

.d {
    grid-area: d;
    background: #aaa;
}

.d1 {
    grid-area: d1;
    background: #aaa;
}

.e {
    grid-area: e;
    background: #ccc;
}

.f {
    grid-area: f;
    background: #fff;
}
.g {
    grid-area: g;
    background: #fff;
}
.h {
    grid-area: h;
    background: #fff;
}
.i {
    grid-area: i;
    background: #fff;
}
.j {
    grid-area: j;
    background: #fff;
}
.k {
    grid-area: k;
    background: #fff;
}
.l {
    grid-area: l;
    background: #fff;
}