.container{
    padding: 50px 50px 0px 200px;
}
header{
    width: 55%;
}
.patternSelect{
    display: flex;
    position: absolute;
    top: -300px;
    right: 1vw;
    width: 35%;
}
.pattern{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 500px;
    margin: 10px;
    box-shadow: 0 0 5px 1px #666;
    overflow: hidden;
    cursor: pointer;
    transition: 0.8s;
}
.pattern:hover{
    transform: translate(0,5%);
}
.pattern.chosen{
    transform: translate(0,15%);
}
.pattern img{
    height: 110%;
    filter: saturate(110%) contrast(110%);
}
.selector{
    margin: 30px 0 20px 0;
}
.size, .color{
    display: flex;
}
.selectorName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 10px 0;
    padding: 3px 8px;
    font-family: 'Noto Serif TC', serif;
    border-left: 5px solid #569EA6;
    font-weight: 700;
}
.selectorGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 10px 10px;
    padding: 8px 8px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.selectorGroup label{
    display: block;
    width: 50px;
    margin: 0 5px;
    padding: 5px 0;
    border-radius: 3px;
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}
input[type="checkbox"]{
    display: none;
}
input[type="radio"]{
    display: none;
}
input[type="checkbox"]:checked+label{
    color: #fff;
    background: #F58032;
}
input[type="radio"]:checked+label{
    color: #fff;
    background: #F58032;
}
.clothes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: 10px 0 0 0;
}
.clothesItem{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,.65);
    overflow: hidden;
}
.imgCon{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.imgCon:hover{
    filter: brightness(75%)
}
.imgCon img{
    width: 100%;
}
.clothesFoot{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
.tag{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sizeTag, .colorTag{
    margin: 0 5px 0 0;
    padding: 6px;
    border-radius: 50%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    background: #ccc;
    color: #fff;
    opacity: .65;
}
.likeBSubmit{
    font-size: 1.5rem;
    padding: 0 5px;
    color: rgba(0,0,0,.25);
    cursor: pointer;
    transition: 0.5s;
}
.likeBSubmit:hover{
    color: rgba(237, 73, 87, 0.85);
}
.likeBSubmit.liked{
    color: #ED4956;
}


.pageCon{
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    text-align: center;
}
.clothesPage{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 6px;
    border-radius: 50%;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: unset;
    line-height: 25px;
    color: #fff;
    background: #ccc;
    transition: 0.3s;
}
.clothesPage:hover{
    background: #F58032;
}
.clothesPage.active{
    background: #F58032;
}
/* -----------------------------------RWD------------------------------------ */

@media only screen and (max-width: 1160px){
    .patternSelect{
        width: 600px;
    }
    header{
        width: 100%;
        margin-top: 200px;
    }
    .pattern.chosen{
        transform: translate(0,8%);
    }
}
@media only screen and (max-width: 630px){
    .patternSelect{
        width: 100%;
        right: 0;
    }
    .selectorName{
        padding: 0;
        border: none;
    }
}
@media only screen and (max-width: 597px){
    .patternSelect{
        width: 100%;
        right: 0;
    }
    .imgCon{
        width: 100%;
    }
    .selectorGroup label{
        margin: 5px 5px;
    }
    .size, .color{
        display: block;
    }
    .color{
        margin: 25px 0 0 0;
    }
}
@media only screen and (max-width: 450px){
    header{
        width: 100%;
        margin: 0;
    }
    .color .selectorGroup{
        height: 100px;
    }
    .patternSelect{
        display: none;
    }
}
