/* -----------------------------------basic--------------------------------------- */  
*{
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
.confirm{
    animation: show 0.3s;
    z-index: 5;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/element/HuYu-bg.png)
}
h1{
    font-family: 'Noto Serif TC', serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #333
}
h2{
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 5px;
    color: #333
}
h3{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 1.5px;
}
h4{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
}
h5{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #000;
}
p, span{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #000;
}
.container{
    padding: 50px 50px 50px 200px;
}
header{
    max-width: 900px;
}
/* -----------------------------------navbar--------------------------------------- */     
.mobile-menuCon{
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 15px;
}
.mobile-menu{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255,108,13,.75);
    cursor: pointer;
    font-size: 1rem;
    line-height: 40px;
    color: #fff;
}
.menuAfter, .menuBefore{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,108,13,.35);
}
.menuAfter{
    animation: menuWave 2s infinite;
}
.menuBefore{
    animation: menuWave 2s 1.2s infinite;
}
@keyframes menuWave{
    0%,100%{
        width: 40px;
        height: 40px;
    }
    50%{
        width: 50px;
        height: 50px;
    }
}
.logoBox{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
    display: block;
}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(../images/element/LOGO.png);
    background-size: contain;
    transition: 1s;
}
nav{
    position: fixed;
    top: 0;
    z-index: 4;
    height: 100vh;
    background: #4A5861;
    transition: 0.7s;
}
.member{
    display: block;
    position: absolute;
    top: calc(28vh - 45px);
    width: 148px;
    height: 45px;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 4px;
    text-align: center;
    background: #569EA6;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.member:hover{
    background: rgb(64, 121, 128);
    color: #ccc;
}
.member.active{
    color: #FFF;
    background: #94B86E;
}
.member.active:hover{
    background: rgb(107, 133, 79);
    color: #ccc;
}
.web-nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 28vh;
}
.web-nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    padding: 18px 28px;
    writing-mode: vertical-lr;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.125rem;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    letter-spacing: 4px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.web-nav li a:hover{
    background: rgba(255,255,255,.1);
}
.web-nav li a.active{
    color: #FFF;
    background: rgba(148, 184, 110,0.5);
}
.web-nav li a.active:hover{
    background: rgb(107, 133, 79);
    /* color: #ccc; */
}
.web-nav .menu-close a{
    display: none;
    font-size: 1.5rem;
}
/* -----------------------------------alter Window--------------------------------------- */
.success, .error, .confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: rgba(0,0,0,.8);
    z-index:1001;
}
.errorInfo, .successInfo, .confirmInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    max-width: 250px;
    min-height: 200px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: #f2f2f2;
}
.successText, .errorText, .confirmText{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #333;
} 
.successIcon, .errorIcon, .confirmIcon{
    font-size: 3.5rem;
    margin: 0 0 20px 0;
}
.successIcon{
    color: #94B86E;
}
.errorIcon{
    color: #F58032;
}
.confirmIcon{
    color: #569EA6;
}
.confirmBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0 0 0;
}
.confirmYes, .confirmNo{
    display: block;
    width: 35%;
    min-height: 30px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}
.confirmYes:hover, .confirmNo:hover{
    filter: brightness(75%)
}
.confirmYes{
    background: #94B86E;
    color: #fff;
}
.confirmNo{
    background: #F58032;
    color: #fff;
}
/* -----------------------------------memberWindow--------------------------------------- */
.bgBlur{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: rgba(0,0,0,.8);
    z-index:1000;  /*------提供首頁的0-1000層可以發揮-----*/
}
.windowCon{
    max-width: 400px;
    width: 100%;
}
.memberWindow{
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
}
.windowNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}
.switch{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.switch span{
    margin: 0;
    padding: 3px 20px;
    font-weight: 500;
    color: #333;
    background: #ddd;
    cursor: pointer;
    transition: 0.3s;
}
.switch span:hover{
    background: #4A5861;
    color: #fff;
}
.switch span.windowSelect{
    display: none;
}
.switch span.windowSelect:hover{
    background: #4A5861;
    color: #fff;
}
.windowClose{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    color: rgba(74, 88, 97);
    cursor: pointer;
    transition: 0.3s;
}
.windowClose:hover{
    background: #4A5861;
    color: #fff;
    transform: rotate(180deg);
}
.windowTitle{
    padding: 5px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 3px;
    background: #569EA6;
    color: #fff;
}
.loginForm, .signForm{
    max-width: 700px;
    padding: 20px 30px;
    background: #f2f2f2;
}
.notice{
    display: none;
    /* padding: 20px 0; */
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: red
}
.signErro{
    display: none;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    color: red
}
.loginGroup, .signGroup{
    max-width: 300px;
    margin: 0 auto;
}
.btnGroup{
    max-width: 300px;
    margin: 20px auto 5px auto;
}
.signBtnGroup{
    max-width: 300px;
    margin: 10px auto 0px auto;
}
.signGroup label, .loginGroup label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginGroup p, .signGroup p{
    font-size: 0.95rem;
    font-weight: 400;
    color: #333;
}
.loginGroup input, .signGroup input{
    display: block;
    width: 100%;
    margin: 5px 0 8px 0;
    padding: 8px 5px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 0.9rem;
}
.loginSubmit, .fbLogin, .googleLogin, .signSubmit{
    display: block;
    width: 100%;
    min-height: 40px;
    margin: 5px 0 15px 0;
    padding: 8px 5px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}
.loginSubmit, .signSubmit{
    background: rgb(245, 128, 50);
    color: #fff;
}
.loginSubmit:hover, .signSubmit:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.fbLogin{
    background: rgba(66, 103, 178, 0.8);
    /* background: #999; */
    color: #fff;
}
.fbLogin:hover{
    background: rgba(66, 103, 178, 1);
}
.googleLogin{
    background: rgba(230, 0, 35, 0.8);
    /* background: #999; */
    color: #fff;
}
.googleLogin:hover{
    background: rgba(230, 0, 35, 1);
}
.forget{
    text-align: center;
    margin: 5px;
}
.forget a{
    margin: 0 20px;
    font-size: 0.95rem;
    text-decoration: underline;
    text-align: center;
    color: #333;
}
/* ------------------------------------RWD--------------------------------------- */
@media only screen and (max-height: 886px) and (min-height: 680px){
    .web-nav li a{
        writing-mode: horizontal-tb;
        line-height: 1.5;
    }
}
@media only screen and (max-height: 680px){
    nav{
        width: 148px;
    }
    .web-nav{
        padding-top: 195px
    }
    .web-nav li a{
        writing-mode: horizontal-tb;
        height: auto;
    }
    .member{
        top: 150px;
        border-radius: 0px;
    }
}
@media only screen and (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    nav{
        width: 148px;
        transform: translate(-100%,0);
    }
    .web-nav{
        padding-top: 195px
    }
    .web-nav li a{
        writing-mode: horizontal-tb;
        height: auto;
    }
    .member{
        top: 150px;
        border-radius: 0px;
    }
    .web-nav .menu-close a{
        display: block;
    }
    .container{
        padding: 80px 5%;
    }
}
@media only screen and (max-width: 500px){
    h1{
        font-size: 2.7rem;
    }
    .loginForm, .signForm{
        padding: 20px 15px;
    }
}