.mobile-menuCon, nav{
    z-index: 500;
}
.mobile-menu{
    display: block;
}
nav{
    width: 148px;
    transform: translate(-100%,0);
}
.web-nav{
    padding-top: 195px
}
.web-nav li a{
    writing-mode: horizontal-tb;
    height: auto;
}
.member{
    top: 150px;
    border-radius: 0px;
}
.web-nav .menu-close a{
    display: block;
}

.con {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.scene {
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: url("../images/index_/background.png") no-repeat center center fixed;
}
.layer{ 
    width: 100%;
    height: 100vh;
}
.layer img{
    position: absolute;
    display: block;
    width: 100%;
    min-width: 1100px;
}
.top{
    top: -5%;
}
.bottom{
    bottom: -5%;
}
.left{
    left: -10%;
}
.right{
    right: -10%;
}
.objectFit{
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.slider {
    position: relative;
    z-index: 200;
}
.slideCon{
    height: 100vh;
    position:relative;
    overflow: hidden;
}
.svgCon{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.scene01{
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.cls-1{
    position: relative;
    top: -100px;
    z-index: 200;
    width: 20%;
    min-width: 220px;
    fill: none;
    stroke-miterlimit: 10;
    transform: 2s;
}
.draw{
    stroke-width: 20;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
}
.cls-1 .g{
    clip-path: url('#clip');
}
.draw1{
    stroke-width: 40;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
}
@keyframes animate {
    to{
        stroke-dashoffset:0;
    }
}
.animate{
    animation: animate 5s forwards;
    animation-timing-function: cubic-bezier(.3, .09, 1, .15);
}
.animate1{
    animation: animate 5s forwards;
    animation-timing-function: linear;
}

.contextCon{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}
.text{
    width: 100%;
    max-width: 550px;
    margin: 8% 5%;
    padding: 20px;
    background: rgba(255,255,255,.5);
    border-radius: 10px;
}
.text p{
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 300;
}
h2{
    padding: 0 0 0 15px;
    font-size: 2rem;
    font-weight: 800;
}
.pattern{
    display: flex;
    align-items: center;
}
.sq{
    background: #569EA6;
    width: 8px;
    height: 45px;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sound{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 50;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: rgba(150, 150, 150,.75);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}
.sound.open{
    background: rgba(148, 184, 110,.75);
}
.p1a{
    display: block;
    margin: 20px 0 0 auto;
    padding: 3px 10px;
    width: fit-content;
    border-radius: 10px;
    color:#fff;
    background: rgba(255,108,13,.75);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 5px;
    transition: 0.5s;
}
.p1a span{
    margin: 0 8px 0 0;
    font-size: 1rem;
    color:#fff;
    transition: 0.5s;
}
.p1a:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.p1a:hover span{
    color: #ccc;
}

.blog .text{
    max-width: 750px;
}
.blogList{
    position: relative;
}
.blogItem{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    margin: 15px 0 0 0;
    padding: 15px 50px;
    border-radius: 8px;
    background: rgba(255,255,255);
}
.blogItem:nth-child(1){
    margin: 15px 0 0 0;
    position: static;
}
.blogList a{
    display: flex;
    align-items: center;
}
.blogList h3{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    margin: 5px 0;
    color: #333;
    line-height: 1.5;
}
.blogList p{
    margin: 0;
}
.avatar{
    flex-shrink: 0;
    width: 75px;
    height: 75px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-prev{
    z-index: 90;
}

@media only screen and (max-width: 950px){
    #scene01, #woman_p02{
        display: none;
    }
    .center{
        justify-content: center;
        align-items: center;
    }
    .text{
        background: rgba(255,255,255,.8);
    }
}
@media only screen and (max-width: 450px){
    .blogList a{
        flex-direction: column;
    }
}







.loadingCon{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #4A5861;
}
.body-cls-1{
    position: relative;
    /* ################################################## */
    width: 100px; 
    /* ################################################## */
    fill: none;
    stroke-miterlimit: 10;
}
.body-draw{
    stroke-width: 20;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    animation: animate 1.5s cubic-bezier(.3, .09, 1, .15) forwards;
}
.body-cls-1 .body-g{
    clip-path: url('#body-clip');
}
.body-draw1{
    stroke-width: 40;
    stroke-linecap: round;
    stroke: #fff;
    stroke-dasharray: 1800;
    stroke-dashoffset: 1800;
    animation: animate 1.5s linear forwards;
}
@keyframes animate {
    to{
        stroke-dashoffset:0;
    }
}
.loadingText{
    margin: 20px 0 0 0 ;
    font-size: 0.85rem;
    font-weight: 200;
    color: #FFF;
}
.loadingDot span{
    color: #FFF;
    opacity: 0;
}
.loadingDot span:nth-child(1){
    animation: loading 1s infinite;
}
.loadingDot span:nth-child(2){
    animation: loading 1s 0.3s infinite ;
}
.loadingDot span:nth-child(3){
    animation: loading 1s 0.6s infinite ;
}
@keyframes loading {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}