main{
    display: flex;
    justify-content: flex-start
}
.actTitle h2{
    font-size: 2rem;
    font-weight: 800;
}
.container{
    padding-bottom: 0;
}
header{
    margin: 0 0 30px 0;
}
header p.intro{
    padding: 0 50px 0 0;
}
/* --------------------------------------navigator----------------------------------- */
.navigator{
    display: flex;
    /* flex-wrap: wrap; */
}
.navigator ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}
.navigator ul:last-child{
    justify-content: center;
}
.area{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px ;
    padding: 10px 10px 10px 0;
    cursor: pointer;
}
.area p{
    border-bottom: 3px solid transparent;
    font-size: 1.125rem;
    font-weight: 500;
    color: #999;
    transition: 0.5s;
}
.area.mapHover p{
    color: #000;
}
.area.mapPick p{
    border-bottom: 3px solid #F58032;
    color: #000;
}
.navDot{
    display: block;
    margin: 0 10px 0 0;
    transition: .75s;
    font-size: 0.5rem;
    color: #F58032;
    opacity: 0;
}
.navDot.dotShow{
    opacity: 1;
}
/* --------------------------------------map----------------------------------- */
.mapCon{
    width: 800px;
    padding: 0 0 0 0;
    margin: 0 50px 0 0;
}
.mapImg{
    position: relative;
    left: -20px;
    width: 100%;
    overflow: hidden;
}
.mapSite{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.3;
    transition: 0.5s;
}
.mapTop{
    z-index: 3;
}
.mapSite.hover{
    opacity: 0.75;
    filter: blur(0px)
}
.mapSite.show{
    opacity: 0.75;
    filter: blur(0px)
}
.mapSite img{
    display: block;
    width: 100%;
    height: auto;
}
.originMap img{
    width: 100%;
}
.mapName{
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 4;
    box-shadow: 0 0 10px #333;
    border-radius: 10px;
}
.mapName p{
    width: 150px;
    padding: 1px 0;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 3.5px;
    text-align: center;
    background: #F58032;
    color: #fff;
}
.mapName span{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    width: 20px;
    height: 20px;
    background: #F58032;
    transform: rotate(45deg)
}
/* --------------------------------------site----------------------------------- */
.siteCon{
    width: 40%;
    margin: 0 0px 0 0;
}
.areaName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(60deg,#569EA6 40%,transparent 90%);
}
.areaName h2{
    padding: 0 0 0 20px;
    color: #fff;
}
.remind{
    font-size: 0.9rem;
    margin: 10px 0;
    padding: 0 10px;
}
.remind span{
    margin: 0 10px 0 0;
    color: #F58032;
}
.house{
    display: block;
    max-width: 150px;;
}
.siteDisplayCon{
    border-radius: 10px;
}
.siteDisplay{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 72vh;
    overflow: auto;
}
.siteDisplay::-webkit-scrollbar{
    display: none;
}
.scrollBarBox{
    flex-shrink: 0;
    position: sticky;
    top: 0;
    right: 0;
    margin: 0 0 0 15px;
    border-radius: 10px;
    background: #ccc;
    opacity: 0.5;
}
.scrollBar{
    position: relative;
    top: 0;
    width: 100%;
    width: 6px;
    height: 0px;
    border-radius: 10px;
    background: #888;
    transition: 0.2s linear;
}
.siteGroup{
    width: 100%;
    min-height: 100%;
}
.site{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 12px;
    border-radius: 10px;
    background: rgba(255,255,255,.65);
}
.siteImg{
    width: 220px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.siteImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.siteText{
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0 0 0 20px;
}
.siteIntro{
    font-size: 0.875rem;
    line-height: 1.7;
}
.siteFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.siteInfo a, .siteInfo p{
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: #000;
}
.siteInfo a.phoneNum{
    text-decoration: none;
    cursor: default;
}
.siteInfo span{
    display: inline-block;
    width: 15px;
    text-align: center;
    margin: 0 10px 0 0 ;
    color: #888;
}
.siteAct{
    align-self: flex-end;
    cursor: pointer;
}
.siteAct span{
    display: block;
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 1;
    color: #ccc;
    transition: 0.5s;
}
.siteAct.liked span{
    color: rgba(237, 73, 87, 1);
}
.siteAct:hover span{
    color: rgba(237, 73, 87, 0.85);
}
.siteAct span.liked{
    color: rgba(237, 73, 87, 1);
}


.siteWindowCon{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,.75);
}
.siteWindow{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.siteWindowClose{
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin: 0 0 10px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    color: rgba(74, 88, 97);
    cursor: pointer;
    transition: 0.3s;
}
.siteWindowClose:hover{
    background: #4A5861;
    color: #fff;
    transform: rotate(180deg);
}
.siteWindowContent{
    max-height: 90vh;
    border-radius: 10px;
    background: #fff;
    overflow: auto;
}
.siteWindowContent::-webkit-scrollbar{
    display: none;
}
.siteWindowImg{
    width: 100%;
    height: 150px;;
}
.siteWindowImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.siteWindowTitle{
    padding: 30px 20px 0 20px;
}
.siteWindowName{
    font-size: 1.6rem;
}
.siteWindowInfo{
    padding: 0 20px 30px 20px;
    font-size: 0.875rem;
    line-height: 1.7;
}
.siteWindowInfo a, .siteWindowInfo p{
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: #000;
}
.siteWindowInfo a.phoneNum{
    text-decoration: none;
    cursor: default;
}
.siteWindowInfo span{
    display: inline-block;
    width: 15px;
    text-align: center;
    margin: 0 10px 0 0 ;
    color: #888;
}
iframe{
    width: 100%;
}




/* -------------------------------------------RWD-------------------------------------- */
@media only screen and (max-width: 1620px){
    .site{
        flex-direction: column;
        align-items: stretch;
    }
    .siteImg{
        max-width: unset;
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        align-self: flex-start
    }
    .siteText{
        margin: 0;
    }
}
@media only screen and (max-width: 1440px){
    .mapCon{
        width: 710px;
        margin: 0;
        flex-shrink: 0;
    }
    .areaName h2{
        flex-shrink: 0
    }
    .areaName img{
        width: 120px;
    }
}
@media only screen and (max-width: 1280px){
    .container{
        padding-bottom: 50px;
    }
    header p.intro{
        padding: 0;
    }
    main{
        display: block;
    }
    .mapCon{
        width: 100%;
    }
    .siteCon{
        width: 100%;
        margin-top: 50px;
    }
    .site{
        flex-direction: row;
        align-items: center;
    }
    .siteImg{
        max-width: 200px;
        min-width: 200px;
        margin-bottom: 0;
        border-radius: 10px;
        overflow: hidden;
    }
    .siteText{
        margin: 0 0 0 20px;
    }
    .siteInfo a.phoneNum{
        text-decoration: underline;
        cursor: pointer;
    }
    .siteWindowInfo a.phoneNum{
        text-decoration: underline;
        cursor: pointer;
    }
    .areaName img{
        width: 150px;
    }
    .siteDisplay{
        height: auto;
    }
}
@media only screen and (max-width: 870px){
    .navigator ul{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 600px){
    .mapImg{
        display: none;
    }
    .site{
        flex-direction: column;
        align-items: stretch;
    }
    .siteImg{
        max-width: unset;
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    .siteText{
        margin: 0;
    }
}
@media only screen and (max-width: 420px){
    .siteDisplayCon{
        padding: 0;
    }
    .areaName img{
        display: none;;
    }
    .navDot{
        display: none;
    }
    .siteFoot{
        flex-direction: column;
        align-items: flex-start;
    }
    .siteAct{
        margin: 10px 0 0 0;
    }
    .siteAct span{
        padding: 0;
    }
    .siteInfo li span{
        display: none;
    }
}