p{
    font-size: 0.9rem;
}
section{
    margin: 50px 0 0 0;
}
.member-nav{
    display: flex;
    flex-wrap:wrap; 
    margin: 20px 0;
}
.member-nav .memberBtn{
    display: block;
    margin: 8px 10px;
    padding: 3px 15px;
    border: none;
    border: 1px solid #ccc;;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3px;
    background: rgba(255,255,255,.8);
    color: #4A5861;
    cursor: pointer;
    transition: 0.3s;
}
.member-nav_mobile{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(74, 88, 97,0.85);
}
.member-nav_mobile .memberBtn{
    padding: 10px 0;
    margin: 0;
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn:hover{
    background: #ccc;
    color: #4A5861;
    border: 1px solid transparent;
}
.memberBtn.select{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn.select:hover{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
.travelManage{
    max-width: 1100px;
}
.orderNum{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 5px 0;
    padding: 0 5px;
}
.num{
    align-self: flex-end;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.orderTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    background: #4A5861;
    color: #fff;
}
.orderDetail{
    padding: 10px 30px;
    background: #fff;
}
.basicInfo{
    display: flex;
    flex-wrap: wrap;
}
.term{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    margin:5px 10px 8px 0;
}
.term h5{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 15px 0 0;
    border-radius: 2px;
    color: #444;
}
.plan>p{
    font-size: 0.85rem;
}
.paymentStatus>p.no{
    font-weight: 800;
    color: red;
}
.paymentStatus>p.yes{
    font-weight: 800;
    color: green;
}
.travelStatus>p.notYet{
    font-weight: 800;
    color: #ff6c0d;
}
.travelStatus>p.already{
    font-weight: 800;
    color: green;
}
.cancelTitle{
    padding: 15px 20px;
    background: #569EA6;
    color: #fff;
}
.cancelRule{
    max-width: 1200px;
    margin: 0 0 0 0;
    padding: 20px 30px;
    background: #fff;
}
.ruleBox{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px 15px 5px 0;
}
.rule{
    width: 420px;
}
.rule li{
    list-style: disc inside;
    margin: 0 0 15px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #000;
}
.st{
    font-weight: 600;
    margin: 5px 0;
}
.explain{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 20px;
    background: #ccc;
}
.explain label{
    margin: 0 0 0 5px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.7;
}
.explain input{
    margin: 0 10px 0 0;
}
.cant{
    display: none;
    padding: 5px 20px ;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: right;
    background: #fff;
    color: red
}
.calcCon{
    display: flex;
    margin: 0 0 0 0;
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    background: #fff;
    transition: 0.8s;
}
.gray{
    filter: grayscale(100%);
    color: #999;
}
.calc{
    flex: 0 1 400px;
    margin: 0 50px 0 0;
}
.calcItem{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
}
.final{
    flex: 1 2 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.money{
    color: rgb(245, 128, 50);
    font-weight: 600;
}
.finalCancel{
    flex: 45px 0 0;
    align-self: flex-end;
    width: 150px;
    height: 45px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.finalCancel:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.finalCancel.disabled:hover{
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: default;
}


@media only screen and (max-width: 1024px){
    .term{
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and (max-width: 960px){
    .calcCon{
        display: block;
    }
    .calc{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 80px 3%;
    }
}
@media only screen and (max-width: 540px){
    h1{
        font-size: 2.7rem;
    }
    .member-nav{
        display: none;
        justify-content: center;
    }
    .member-nav_mobile{
        display: flex;
    }
    .memberBtn{
        width: 85%;
        padding: 5px 0;
        text-align: center;
    }
    .orderDetail, .cancelRule, .calcCon{
        padding: 10px 15px;
    }
    .term p{
        text-align: right;
    }
    .rule li{
        list-style: none;
    }
}