/* -----------------------------------member-nav--------------------------------------- */ 
.loadingCon{
    display: none;
}
p{
    font-size: 0.9rem;
}
.member-nav{
    display: flex;
    flex-wrap:wrap; 
    margin: 20px 0;
}
.member-nav .memberBtn{
    display: block;
    margin: 8px 10px;
    padding: 3px 15px;
    border: none;
    border: 1px solid #ccc;;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3px;
    background: rgba(255,255,255,.8);
    color: #4A5861;
    cursor: pointer;
    transition: 0.3s;
}
.member-nav_mobile{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(74, 88, 97,0.85);
}
.member-nav_mobile .memberBtn{
    padding: 10px 0;
    margin: 0;
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn:hover{
    background: #ccc;
    color: #4A5861;
    border: 1px solid transparent;
}
.memberBtn.select{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn.select:hover{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
/* -----------------------------------orderDetail---------------------------------------- */ 
.order.gray .orderTitle{
    background: #ddd;
}
.order.gray .travelerTitle{
    background: #ddd;
}
.order.gray .orderFoot{
    background: #ccc;
}
.order.gray h5, .order.gray h3, .order.gray p, .order.gray span{
    color: #888;
}
.travelManage{
    max-width: 1100px;
}
.orderNum{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 5px 0;
}
.num{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.orderTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    background: #4A5861;
    color: #fff;
}
.orderTitle span{
    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
}
.orderTitle h6{
    text-align:center ;
    margin-top: 10px;
}
.orderDetail{
    padding: 10px 30px;
    background: #fff;
}
.basicInfo, .paymentInfo{
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px 0; */
}
.term{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    margin:5px 10px 8px 0;
}
.term h5{
    font-size: 1rem;
    font-weight: 500;
    margin: 0 15px 0 0;
    border-radius: 2px;
    color: #444;
}
.plan>p{
    font-size: 0.85rem;
}
.pStatus.no{
    font-weight: 800;
    color: red;
}
.pStatus.yes{
    font-weight: 800;
    color: green;
}
.oStatus.notYet{
    font-weight: 800;
    color: #ff6c0d;
}
.oStatus.already{
    font-weight: 800;
    color: green;
}
.payInfo{
    background: #ccc;
}
.payInfo .term{
    width: 45%;
}
.travelEmpty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    text-align: center;
}
/* -----------------------------------travelerDetail---------------------------------------- */ 
.travelerTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    background: #569EA6;
    color: #fff;
}
.show{
    margin-right: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    color:#fff;
}
.show:hover{
    color: #333;
}
.delay, .cancel, .modify, .comment{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 3px;
    background: #94B86E;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.delay:hover, .cancel:hover, .modify:hover, .comment:hover{
    background: rgb(107, 133, 79);
    color: #ccc;
}
.cancel{
    margin: 0 0 0 10px;
}
.travelerContent{
    display: none;
    padding: 15px 30px;
    background: #fff;
}
.travelerDetail{
    display: flex;
    flex-wrap: wrap;
}
.traveler-email{
    width: auto;
}
.orderFoot{
    padding: 15px 20px;
    border-radius: 0 0 10px 10px;
    background: #4A5861;
}
.travelerForm:last-child hr{
    display: none;
} 
/* -----------------------------------likeList---------------------------------------- */
.listTitle{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
}
.remind span{
    margin: 0 5px 0 10px;
    color: #F58032;
}
.likeList{
    max-width: 1500px;
    margin: 50px 0 0 0;
}
.clothes, .viewpoint{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.item{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.65);
}
.clothesPhoto{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #ccc;
    overflow: hidden;
}
.clothesPhoto img{
    width: 100%;
}
.viewPhoto{
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
    background: #ccc;
    overflow: hidden;
    cursor: pointer;
}
.viewPhoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewInfo{
    max-width: 250px;
    margin: 15px 0 0 0;
}
.infoItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 0;
}
.infoIcon{
    width: 15px;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 1rem;
    text-align: center;
    line-height: 2;
    color: #888;
}
.infoText{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 1.5px;
    color: #000;
    cursor: default;
}
.deleCon{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}
.dele{
    display: block;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    background: #ddd;
    color: #555;
    cursor: pointer;
    transition: 0.3s;
}
.dele:hover{
    background: #ED4956;
    color: #fff;
}
.empty a{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #F58032;
}


.siteWindowCon{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,.75);
}
.siteWindow{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.siteWindowClose{
    align-self: flex-end;
    width: 30px;
    height: 30px;
    margin: 0 0 10px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    color: rgba(74, 88, 97);
    cursor: pointer;
    transition: 0.3s;
}
.siteWindowClose:hover{
    background: #4A5861;
    color: #fff;
    transform: rotate(180deg);
}
.siteWindowContent{
    max-height: 90vh;
    border-radius: 10px;
    background: #fff;
    overflow: auto;
}
.siteWindowContent::-webkit-scrollbar{
    display: none;
}
.siteWindowImg{
    width: 100%;
    height: 150px;;
}
.siteWindowImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.siteWindowTitle{
    padding: 30px 20px 0 20px;
}
.siteWindowName{
    font-size: 1.6rem;
}
.siteWindowInfo{
    padding: 0 20px 30px 20px;
    font-size: 0.875rem;
    line-height: 1.7;
}
.siteWindowInfo a, .siteWindowInfo p{
    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    line-height: 2;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: #000;
}
.siteWindowInfo a.phoneNum{
    text-decoration: none;
    cursor: default;
}
.siteWindowInfo span{
    display: inline-block;
    width: 15px;
    text-align: center;
    margin: 0 10px 0 0 ;
    color: #888;
}
iframe{
    width: 100%;
}
/* ------------------------------------profile--------------------------------------------- */
.profile{
    max-width: 760px;
}
.profileTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    background: #4A5861;
    color: #fff;
}
.edit{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 3px;
    background: #94B86E;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.edit:hover{
    background: rgb(107, 133, 79);
    color: #ccc;
}
.cancelEdit{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 3px;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.cancelEdit:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.profileInfo{
    padding: 10px 30px 30px 30px;
    border-radius: 0 0 10px 10px;
    background: #fff;
}
.fa-circle{
    font-size: 0.1rem;
    vertical-align: unset;
    color: #569EA6;
}
.profileInfo label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 20px 0 8px 0;
    border-bottom: 1px solid #ccc;
}
.profileInfo label:first-child{
    margin: 8px 0 8px 0;
}
.profileInfo label p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #333;
}
.profileInfo input{
    display: block;
    width: 250px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 400;
}
small{
    display: none;
    font-size: 0.85rem;
    font-weight: 800;
    line-height: 1.5;
    text-align: right;
    color: #ED4956;
}
.submitCon{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0 0;
}
.profileInfo .submit{
    width: 150px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.profileInfo .submit:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.disabled{
    background: #ccc;
    color: #666;
    cursor: default;
}
.disabled:hover{
    background: #ccc;
    color: #666;
}


.commentWindows{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: rgba(0,0,0,.8);
}
.commentClose{
    position: absolute;
    top: -40px;
    right: 0;
    width: 30px;
    height: 30px;
    margin: 0 0 10px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background: #ddd;
    color: rgba(74, 88, 97);
    cursor: pointer;
    transition: 0.3s;
}
.commentClose:hover{
    background: #4A5861;
    color: #fff;
    transform: rotate(180deg);
}
.comment-form{
    position: relative;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    padding: 5px 15px;
}
.rating-group{
    margin: 10px 0;
    cursor: default;
}
.rating-star{
    margin: 0 3px;
    cursor: pointer;
}
.radio{
    display: none;
}
.rating{
    font-size: 1.2rem;
}
.comment-text{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background: #ddd;
    resize: none;
    -ms-overflow-style: none;
}
.comment-text::-webkit-scrollbar{
    display: none;
}
.check{
    display: none;
    font-size: 0.85rem;
    font-weight: 400;
    color: red;
    text-align: right;
}
.submit-group{
    display: flex;
    justify-content: flex-end;
}
.submit{
    width: 120px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.submit:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.comment-title{
    margin-bottom: 10px;
}
.date{
    float: right;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #aaa;
}
.fa-star{
    color: #ffa628
}
.fa-star.no-rate{
    color: #666
}

/* -----------------------------------Master---------------------------------------- */ 
.masterbgc{
    background: #569EA6;
}
.payChange,.payChangeYes{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 3px;
    background: #fff;
    color: #4A5861;
    cursor: pointer;
    transition: 0.3s;
}
.payChange:hover,.payChangeYes:hover{
    background: #ccc;
    color: #4A5861;
}
.form-control{
    width: 100px;
}
.orderInfoReport{
    margin: 0 0 50px 0;
}
/* ------------------------------------RWD--------------------------------------------- */
@media only screen and (max-width: 1024px){
    .term{
        justify-content: space-between;
        width: 100%;
    }
    .payInfo .term{
        justify-content: space-between;
        width: 100%;
    }
    .phoneNum{
        text-decoration: underline;
        cursor: pointer;
    }
    .siteWindowInfo a.phoneNum{
        text-decoration: underline;
        cursor: pointer;
    }
}
@media only screen and (max-width: 850px){
    .a_item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
    }
    .viewPhoto{
        flex: 100% 1 1.5;
        width: 100%;
        height: 190px;
        cursor: pointer;
    }
    .viewInfo{
        flex: 100% 1 1;
        max-width: unset;
        width: 100%;
        margin: 0 10px 0 20px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 80px 3%;
    }
}
@media only screen and (max-width: 540px){
    h1{
        font-size: 2.7rem;
    }
    .member-nav{
        display: none;
        justify-content: center;
    }
    .member-nav_mobile{
        display: flex;
    }
    .memberBtn{
        width: 85%;
        padding: 5px 0;
        text-align: center;
    }
    .orderDetail,  .travelerContent{
        padding: 10px 15px;
    }
    .orderTitle{
        display: block;
    }
    .orderTitle h3{
        text-align: center;
        padding: 0 0 20px 0;
    }
    .orderAct{
        display: flex;
        justify-content: center;
    }
    .term p{
        text-align: right;
    }
    .listTitle{
        text-align: center;
    }
    .remind{
        text-align: center;
    }
    .d-flex{
        display: block;
    }
    .clothes, .viewpoint{
        justify-content: center;
    }
}
@media only screen and (max-width: 537px){
    .a_item{
        display: block;
        width: 100%; 
    }
    .c_item{
        width: 100%;
    }
    .clothesPhoto{
        width: 100%;
    }
    .viewPhoto{
        max-width: unset;
        width: 100%;
        height: 180px;
        margin: 0;
    }
    .viewInfo{
        flex: 100% 1 1;
        padding: 0 5px;
        margin: 10px 0 0 0;
        width: unset;
        max-width: unset;
    }
}
@media only screen and (max-width: 400px){
    .payInfo .term{
        display: block;
    }
    .payInfo .term p{
        text-align: left;
    }
}
@media only screen and (max-width: 350px){
    .profileInfo{
        padding: 30px 15px;
    }
}