p{
    font-size: 0.9rem;
}
section{
    margin: 50px 0 0 0;
}
.member-nav{
    display: flex;
    flex-wrap:wrap; 
    margin: 20px 0;
}
.member-nav .memberBtn{
    display: block;
    margin: 8px 10px;
    padding: 3px 15px;
    border: none;
    border: 1px solid #ccc;;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3px;
    background: rgba(255,255,255,.8);
    color: #4A5861;
    cursor: pointer;
    transition: 0.3s;
}
.member-nav_mobile{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(74, 88, 97,0.85);
}
.member-nav_mobile .memberBtn{
    padding: 10px 0;
    margin: 0;
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn:hover{
    background: #ccc;
    color: #4A5861;
    border: 1px solid transparent;
}
.memberBtn.select{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
.memberBtn.select:hover{
    background: rgba(245, 128, 50,1);
    color: #fff;
    border: 1px solid transparent;
}
.travelManage{
    max-width: 1100px;
}
.orderNum{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 5px 0;
    padding: 0 5px;
}
.num{
    align-self: flex-end;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.orderTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    background: #4A5861;
    color: #fff;
}
.orderDetail,.travelerContent{
    padding: 10px 30px;
    background: #fff;
}
.travelerContent{
    border-radius: 0 0 10px 10px;
}
.basicInfo{
    display: flex;
    flex-wrap: wrap;
}
.travelerForm h3{
    margin-top:10px;
}
.term{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 230px;
    margin:5px 0px 8px 0;
}
.travelerContent .term{
    display: block;
}
.term input{
    display: block;
    width: 150px;
    margin: 5px 0;
    padding: 0 5px;
}
.traveler-email{
    width: 300px;
}
.traveler-email input{
    width: 210px;
}
.term h5{
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    color: #444;
}
.plan>p{
    font-size: 0.85rem;
}
.paymentStatus>p.no{
    font-weight: 800;
    color: red;
}
.paymentStatus>p.yes{
    font-weight: 800;
    color: green;
}
.travelStatus>p.notYet{
    font-weight: 800;
    color: #ff6c0d;
}
.travelStatus>p.already{
    font-weight: 800;
    color: green;
}
.delayTitle{
    padding: 15px 20px;
    background: #569EA6;
    color: #fff;
}
.final{
    flex: 1 2 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.finalModify{
    right:0px;
    flex: 45px 0 0;
    align-self: flex-end;
    width: 150px;
    height: 45px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.finalModify:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.finalModify.disabled:hover{
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: default;
}
.travelerDetail{
    display: flex;
    flex-wrap: wrap;
}
.wrong{
    display: block;
    margin: 5px 0 10px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.825rem;
    letter-spacing: 0.5px;
    color: red;
}


@media only screen and (max-width: 1024px){
    .term{
        justify-content: space-between;
        width: 100%;
    }
}
@media only screen and (max-width: 960px){
    .pickCon{
        display: block;
    }
    .pick{
        width: 100%;
    }
    .final{
        margin: 10px 0 0 0 ;
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 80px 3%;
    }
}
@media only screen and (max-width: 540px){
    h1{
        font-size: 2.7rem;
    }
    .member-nav{
        display: none;
        justify-content: center;
    }
    .member-nav_mobile{
        display: flex;
    }
    .memberBtn{
        width: 85%;
        padding: 5px 0;
        text-align: center;
    }
    .orderDetail, .delayRule, .pickCon{
        padding: 10px 15px;
    }
    .term p{
        text-align: right;
    }
    .rule li{
        list-style: none;
    }
}