.container{
margin-bottom: 50px;
}
section{
    max-width: 900px;
}
.detailCon{
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 25px 20px 25px;
    background: #fff;
}
.orderInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.orderInfo li{
    display: flex;
    align-items: center;
    width: 280px;
    padding: 5px 0;
}
.infoTag{
    padding: 3px 5px;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
}
.infoText{
    font-size: 0.9rem;
}
.orderTotal{
    color: rgb(245, 128, 50);
    font-weight: 600;
}
.detailTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.orderNum{
    align-self: flex-end;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}


.stepCon{
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.payCon{
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
}
.stepTittle{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0 ;
}



.boxTitle{
    padding: 5px 0 5px 25px;
    background: #4A5861;
    color: #fff;
}
.boxTitle h3{
    font-weight: 400;
}
.basicBox{
    padding: 15px 25px 20px 25px;
    background: #fff;
}
.basicBox p{
    font-size: 0.85rem;
}
.basicBox li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.98rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1.5px;
    color: #000;
}


.itemGroup{
    display: flex;
    flex-wrap: wrap;
}
.formItem{
    margin: 0px 30px 10px 0;
}
.label{
    font-size: 0.9rem;
    font-weight: 400;
}
.textInput{
    min-width: 150px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#mailInput{
    min-width: 300px
}


.explain{
    padding: 10px 25px;
    background: #ccc;
}
.explain.flex{
    display: flex;
    flex-wrap: wrap;
}
.explain p{
    margin: 0 10px 0 0;
    font-size: 0.85rem;
}


.okAndBack{
    display: block;
    flex: 150px 0 0;
    height: 45px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.okAndBack:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.red{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    color: red;
}
.white{
    color: #fff;
}
.black{
    color: #000;
}
.bg-orange{
    background: #F58032;
}
.bg-green{
    background: #94B86E;
}
.bg-white{
    background: #fff;
}
.mg-b{
    margin: 0 0 15px 0;
}
@media only screen and (max-width:610px){
    .orderInfo li{
        justify-content: space-between;
        width:  100%;
    }
}
@media only screen and (max-width:410px){
    .basicBox li{
        display: block;
    }
}