.container{
    display: flex;
}
.orderCon{
    margin: 0 30px 0 0;
    transition: 1s;
}
.infoBox{
    width: 280px;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    background: #fff;
}
.orderName{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
}
.orderInfo li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.infoTag{
    padding: 3px 5px;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
}
.infoText{
    font-size: 0.9rem;
}
.totalBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    border: 1px solid #ccc;
    background: #fff;
}
.totalBoxB{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translate(0,100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 3px 30px;
    background: rgba(74, 88, 97,.85);
    transition: 0.8s;
}
.orderTotal{
    color: rgb(245, 128, 50);
    font-weight: 600;
}
.totalBoxB .orderTotal, .totalBoxB .infoTag{
    color: #fff
}


.stepCon{
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.payCon{
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
}
.stepTittle{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0 ;
}
.stepNum{
    width: 30px;
    height: 30px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    color: #fff;
    background: #F58032;
}
.travelerTitle{
    padding: 5px 0 5px 25px;
    background: #4A5861;
    color: #fff;
}
.travelerTitle h3{
    font-weight: 400;
}
.orderForm{
    padding: 15px 25px 20px 25px;
    background: #fff;
}
.itemGroup{
    display: flex;
    flex-wrap: wrap;
}
.formItem{
    margin: 0px 30px 10px 0;
}
label h5{
    font-size: 0.9rem;
    font-weight: 400;
}
.textInput{
    width: 150px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#cardCVV{
    min-width: unset;
    width: 60px;
}
.selectInput{
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#mainEmail{
    width: 80%;
}
.explain{
    padding: 10px 15px;
    background: #ccc;
}
.explain.flex{
    display: flex;
    flex-wrap: wrap;
}
.explain p{
    margin: 0 10px 0 0;
    font-size: 0.85rem;
}
.explain span{
    margin: 0 10px 0 0;
    font-size: 0.5rem;
    color: #333;
}
.explain li{
    list-style: disc inside;
    margin: 0 0 15px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    /* text-align: justify; */
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #000;
}
.staff{
    display: block;
    margin: 0 0 15px 0;
}
.paySelect{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 25px 20px 25px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.paySelect div:first-child{
    margin: 0 20px 0 0;
}
.paySelect label{
    display: inline-flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.confirmPay{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 10px 15px;
    background: #fff;
}
.confirmPay p{
    flex: 480px 0 1;
    max-width: 480px;
    margin: 0 20px 0 0;
    font-size: 0.85rem;
}
.pay{
    flex: 150px 0 0;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 4px;
    text-align: center;
    background: rgb(245, 128, 50);
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.pay:hover{
    background: rgb(187, 97, 37);
    color: #ccc;
}
.bg-white{
    background: #fff;
}
.bg-red{
    background: #569EA6;
}
.white{
    color: #fff;
}
.red{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    color: red;
}
.border{
    border-top: 1px solid #999;
}
.wrong{
    display: block;
    margin: 5px 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 0.825rem;
    letter-spacing: 0.5px;
    color: red;
    /* display: none; */
}
@media only screen and (max-width:1024px){
    .container{
        display: block;
    }
    .orderCon{
        margin: 0 0 30px 0;
    }
    .infoBox{
        width: 100%;
    }
    .orderInfo{
        display: flex;
        flex-wrap: wrap;
    }
    .orderInfo li{
        justify-content: flex-start;
        width:  250px;
    }
}
@media only screen and (max-width:610px){
    .orderInfo li{
        justify-content: space-between;
        width:  100%;
    }
}
@media only screen and (max-width:480px){
    .paySelect{
        display: block;
    }
    .paySelect div:first-child{
        margin: 0 0 20px 0;
    }
    .confirmPay{
        flex-direction: column;
    }
    .confirmPay p{
        flex: unset;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .pay{
        flex: unset;
    }
    .explain li{
        list-style: none;
    }
}