/* -----------------------------------main-header--------------------------------------- */
        main{
            width: 56%;
            padding: 50px 50px 50px 200px;
        }
        .act{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 25px 0 25px 0;
        }
        .intro{
            font-size: 0.9rem;
        }
        article p{
            font-size: 0.9rem;
        }
        .info{
            display: flex;
            flex-shrink: 0;
            height: 45px;
            margin:  0  20px 20px 0;
            border-top: 0.5px solid #999;
            border-bottom: 0.5px solid #999;
        }
        .info li{
            display: flex;
            align-items: center;
            margin-right: 30px;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            line-height: 2;
            letter-spacing: 2px;
        }
        .info li:last-child{
            margin-right: 10px;
        }
        .info li img{
            display: block;
            width: 25px;
            margin-right: 10px;
        }
        .info li:nth-child(2) img{
            width: 22px;
        }
        .reserve{
            position: relative;
            flex: 180px 0 1;
            height: 45px;
            margin: 0 0 0 auto;
            border: none;
            border-radius: 10px;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 43px;
            letter-spacing: 4px;
            text-align: center;
            background: #94B86E;
            color: #fff;
            cursor: pointer;
            transition: .5s;
        }
        .reserve::before, .reserve::after{
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background: #94B86E;
            opacity: 0.3;
            animation: important 1.5s infinite;
        }
        .reserve::after{
            animation: important 1.5s infinite 0.5s;
        }
        @keyframes important{
            0%, 100%{
                width: 100%;
                height: 100%;
            }50%{
                width: 108%;
                height: 130%;
            }
        }
        .reserve:hover{
            background: rgb(107, 133, 79);
            color: #ccc;
        }
        .reserve:hover::before, .reserve:hover::after{
            animation: none;
        }
        .share{
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            flex: 40% 1 1;
            margin: 10px 0;
        }
        .share li:nth-child(2){
            margin: 0 15px;
        }
        .share li img{
            width: 25px;
            filter: brightness(250%);
            transition: 0.5s;
        }
        .share li:hover img{
            cursor: pointer;
            filter: brightness(100%)
        }
/* -----------------------------------main-nav--------------------------------------- */
        .product-nav{
            display: flex;
            justify-content: flex-start;
            margin: 25px 0;
        }
        .product-nav li{
            padding: 10px;
            border-bottom: 5px solid transparent;
            font-family: 'Noto Serif TC', serif;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 4px;
            text-align: center;
            color: #999;
            transition: .5s;
            cursor: pointer;
        }
        .product-nav li:nth-child(2){
            margin: 0 20px;
        }
        .product-nav li:hover{
            color: #000;
        }
        .product-nav li.p-active{
            color: #000;
            border-bottom: 5px solid #569EA6;
            cursor: default;
        }
/* -----------------------------------article--------------------------------------- */
        video{
            width: 85%;
            border-radius: 10px;
            margin: 0 0 25px 0;
        }
        .content{
            display: none;
        }
        .content.show{
            display: block;
        }
        .special-title, .detail-title{
            margin-bottom: 1rem;
        }
        .group{
            clear: both;
            margin: 0 0 1.5rem 0;
            padding: 0 0 0 10px;
            border-left: 8px solid #569EA6;
        }
        .group a{
            font-size: 1rem;
            font-weight: 600;
            color: #f58032;
        }
        .group li{
            margin: 0 0 10px 20px; 
            list-style: circle ;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 0.9rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1.7;
            letter-spacing: 1.5px;
        }
/* -----------------------------------comment--------------------------------------- */
        .comment-btn{
            width: 120px;
            height: 40px;
            margin-bottom: 24px;
            border-radius: 10px;
            border-style: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 4px;
            text-align: center;
            background: #569EA6;
            color: #fff;
            cursor: pointer;
            transition: .5s;
        }
        .comment-btn:hover{
            background: rgb(64, 121, 128);
            color: #ccc;
        }
        form{
            padding: 0 0 30px 0;
        }
        .user{
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            line-height: 2;
        }
        .rating-group{
            margin: 10px 0;
            cursor: default;
        }
        .rating-star{
            margin: 0 3px;
            cursor: pointer;
        }
        .radio{
            display: none;
        }
        .rating{
            font-size: 1.2rem;
        }
        .comment-text{
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            outline: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 0.875rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1.5;
            letter-spacing: 1.5px;
            resize: none;
            -ms-overflow-style: none;
        }
        .comment-text::-webkit-scrollbar{
            display: none;
        }
        .check{
            display: none;
            font-size: 0.85rem;
            font-weight: 400;
            color: red;
            text-align: right;
        }
        .submit-group{
            display: flex;
            justify-content: flex-end;
        }
        .submit{
            width: 120px;
            height: 40px;
            margin: 10px 0;
            border-radius: 10px;
            border: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 4px;
            text-align: center;
            background: rgb(245, 128, 50);
            color: #fff;
            cursor: pointer;
            transition: .5s;
        }
        .submit:hover{
            background: rgb(187, 97, 37);
            color: #ccc;
        }
        .comment-title{
            margin-bottom: 10px;
        }
        .date{
            float: right;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 0.875rem;
            font-weight: 300;
            text-align: justify;
            line-height: 2;
            letter-spacing: 1.5px;
            color: #aaa;
        }
        .fa-star{
            color: #ffa628
        }
        .fa-star.no-rate{
            color: #666
        }
        .pageCon{
            display: flex;
            justify-content: center;
            margin: 30px 0;
            text-align: center;
        }
        .commentPage{
            display: block;
            width: 25px;
            height: 25px;
            margin: 0 8px;
            border-radius: 50%;
            text-align: center;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 0.85rem;
            font-weight: 500;
            letter-spacing: unset;
            line-height: 25px;
            color: #fff;
            background: #999;
            transition: 0.3s;
        }
        .commentPage:hover{
            background: #F58032;
        }
        .commentPage.active{
            background: #F58032;
        }

/* -----------------------------------photoSlider--------------------------------------- */
        .photoSlider{
            position: fixed;
            top: 0;
            right: 0;
            width: 41%;
            height: 100%;
            overflow: hidden;
            font-size: 0;
        }
        .wave{
            width: 130px;
            height: 100%;
            background: url(../images/element/bg-wave.png) no-repeat;
            background-size: contain;
        }
        .photo-group{
            position: absolute;
            top: 0;
            left: 1px;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        .photo-group img{
            height: 100vh;
            object-fit: cover;
        }
        .slick-dots{
            left: -15px;
            text-align: right;
        }
        .slick-dots li{
            margin: 0 3px;
        }
        .slick-dots li button:before{
            opacity: 1;
            color: #fff;
        }
        .slick-dots li.slick-active button:before{
            opacity: 1;
            color: #4A5861;
        }
/* -----------------------------------reserve-form--------------------------------------- */
        .reserve-box{
            display: none;
            position: absolute;
            top: 5%;
            right: 2%;
            width: 35%;
            max-width: 450px;
            background: rgba(0,0,0,.85);
        }
        .reserve-box::-webkit-scrollbar{
            display: none;
        }
        .close{
            display: flex;
            justify-content: flex-end;
            padding: 20px 20px 0 20px;
        }
        .close-symbol{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            /* border: 1.5px solid #fff; */
            font-size: 1rem;
            line-height: 30px;
            text-align: center;
            background: #fff;
            color: #000;
            cursor: pointer;
            transition: 0.3s;
        }
        .close-symbol:hover{
            background: rgb(245, 128, 50);
            transform: rotate(180deg);
        }
        .reserve-form{
            padding: 30px 30px 30px 30px;
        }


        .time-select, .plan-select, .people-select, .makeup-select{
            border-radius: 10px;
            overflow: hidden;
            margin: 20px 0 20px 0;
        }
        .time-label, .plan-select-title, .people-label, .makeup-label{
            flex-shrink: 0;
            padding: 3px 10px;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            text-align: center;
            line-height: 2;
            text-indent: 6px;
            letter-spacing: 6px;
            background: #569EA6;
            color: #fff;
        }
        .people-select, .makeup-select{
            display: flex;
            justify-content: flex-end;
        }
        .time-select{
            display: flex;
        }


        #time{
            width: 100%;
            padding: 0 20px 0 0;
            border: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 2px;
            text-align-last: center;
        }


        .plan-select-title{
            width: 100%;
        }
        .plan-radio{
            display: none;
        }
        .plan{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            background: #fff;
            cursor: pointer;
        }
        .price{
            color: #94B86E;
        }
        .plan-radio:checked+.plan{
            background: #ddd;
        }
        .plan-radio:checked+.plan>.price{
            color: rgb(245, 128, 50);
        }



        
        .people-label, .makeup-label{
            border-radius: 10px 0 0 10px;
        }
        #people, #makeup{
            max-width: 50px;
            border: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
        }
        .less, .add, .makeup-less, .makeup-add{
            width: 38px;
            background: #8FCBD9;
            border: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1rem;
            font-weight: 900;
            text-align: center;
            line-height: 34px;
            color: #fff;
            cursor: pointer;
        }
        .less, .makeup-less{
            background: #8FCBD9;
        }
        .less::selection{
            background: transparent;
        }
        .add::selection{
            background: transparent;
        }
        .less::-moz-selection{
            background: transparent;
        }
        .add::-moz-selection{
            background: transparent;
        }

        
        .pay{
            width: 150px;
            height: 45px;
            margin: 10px 0 0 auto;
            border-radius: 10px;
            border: none;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 43px;
            letter-spacing: 4px;
            text-align: center;
            background: rgb(245, 128, 50);
            color: #fff;
            cursor: pointer;
            transition: .5s;
        }
        .pay:hover{
            background: rgb(187, 97, 37);
            color: #ccc;
        }
        .final{
            width: 100%;
            display: flex;
            /* flex-wrap:wrap;  */
            justify-content: space-between;
        }
        #total{
            width: 180px;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1.75rem;
            font-weight: 900;
            letter-spacing: 3px;
            vertical-align: super;
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
            color: rgb(245, 128, 50);
        }
        .xdsoft_inline{
            width: 100%;
            margin: 0 0 0 0;
            padding: 8px;
            border-radius: 10px;
            overflow: hidden;
        }
        .xdsoft_datetimepicker .xdsoft_label span{
            font-size: 1.125rem;
            font-weight: 700;
            color: #4A5861;
        }
        .xdsoft_datetimepicker .xdsoft_label i{
            display: none;
        }
        @media only screen and (max-width: 1100px){
            main{
                width: 100%;   
            }
            .photoSlider{
                position: relative;
                width: 100%;
                height: 400px;
            }
            .photo-group{
                height: 400px;
                position: static;
            }
            .wave{
                display: none;
            }
            .photo-group img{
                width: 100%;
                height: 500px;
            }
            .reserve-box{
                position: fixed;
                top: 0;
                left: calc(50% - 225px);
                right: 0;
                z-index: 1;
                width: 100%;
                max-width: 450px;
                height: 100vh;
                overflow: auto;
            }
            video{
                width: 100%;
            }
        }
        @media only screen and (max-width: 768px){
            main{
                padding: 6%;
            }
        }
        @media only screen and (max-width: 500px){
            h1{
                font-size: 2.7rem;
            }
            .info{
                flex-shrink: 1;
                flex-wrap: wrap;
                height: fit-content;
                margin-right: 0;
            }
            .info li{
                margin:10px 
            }
            .reserve-box{
                left: 0;
                right: 0;
                max-width: 100%;
                width: 100%;
                height: 100vh;
                overflow: auto;
            }
            .date{
                display: block;
                float: none;
            }
            .final{
                flex-wrap:wrap; 
            }
        }