*{
    -moz-user-select: none; 
    -webkit-user-select: none;
}
.mobile-menu{
    display: block;
}
nav{
    width: 148px;
    transform: translate(-100%,0);
}
.web-nav{
    padding-top: 195px
}
.web-nav li a{
    writing-mode: horizontal-tb;
    height: auto;
}
.member{
    top: 150px;
    border-radius: 0px;
}
.web-nav .menu-close a{
    display: block;
}
.container{
    position: relative;
    padding: 0;
    overflow-x: hidden;
}
header{
    width: 100%;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.intro{
    padding: 0 20px;
    text-align: center;
    color: #fff
}
.white{
    color: #fff;
}


.rightCon, .leftCon{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.leftCon{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 50% 0,50% 100%,0 100%)
}
.conBG{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
}
.context{
    padding: 50px 0 50px 0;
}



.conBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0 0 0;
    padding: 0 1px;
}
.nameCon{
    width: 35%;
    max-width: 500px;
}
.name{
    margin: 0 0 20px 0;
    font-size: 5rem;
    text-align: center;
}
.mobile-name{
    display: none;
    margin: 0 0 10px 5px;
    color: #333;
    font-size: 1.8rem;
    font-weight: 800;
}
.nameIntro{
    text-align: center;
    color: #fff
}
.selectCon{
    width: 32%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
}
.type{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.type img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.3s;
}
.type:hover img{
    transform: translate(-5%,10%) scale(1.2);
}
.typeText{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    background: rgba(0,0,0,.75);
    transition: 0.3s;
}
/* .type:hover .typeText{
    background: transparent;
} */
.typeTitle{
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 10px;
    color: #fff;
    transition: 0.7s;
}
/* .type:hover .typeTitle{
    transform: translate(0,-100%);
    opacity: 0;
} */
.line{
    width: 100%;
    height: 0.5;
    margin: 15px 0;
    border-bottom: 1px solid #fff;
    transition: 0.7s;
}
.type:hover .line{
    animation: line 1s ;
}
@keyframes line {
    0%,100%{
        width: 100%;
    }50%{
        width: 0%;
    }
}
.typeIntro{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 100;
    color: #fff;
    transition: 0.7s;
}
/* .type:hover .typeIntro{
    transform: translate(0,100%);
    opacity: 0;
} */




.linebox{
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
    z-index: 3;
    height: 100%;
}
.vline{
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background: #fff;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    color: #666;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
}
.circle .after{
    position: absolute;
    left: 130%;
    top: 50%;
    transform: translate(0,-50%);
    width: 200px;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    letter-spacing: 5px;
    color: #fff;
    animation: shine 1s infinite;
    opacity: 1;
}
.circle .before{
    position: absolute;
    left: -130%;
    top: 50%;
    transform: translate(0,-50%);
    width: 200px;
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    letter-spacing: 5px;
    color: #fff;
    animation: shine 1s infinite;
    opacity: 1;
}
@keyframes shine{
    0%,100%{
        text-shadow: 0 0 5px #fff;
    }
    50%{
        text-shadow: 0 0 15px #fff;
    }
}



@media only screen and (max-width: 1024px){
    .container{
        padding: 80px 5%;
    }
    .intro{
        color: #000;
        text-align: justify;
        padding: 0;
    }
    .title.white{
        color: #333;
        text-align: left;
    }
    .selectCon{
        display: flex;
        width: 80%;
        max-width: unset;
        opacity: 1;
    }
    .rightCon, .leftCon{
        position: static;
        min-height: unset;
        clip-path: unset;
    }
    .conBG{
        display: none;
    }
    .conBox{
        flex-direction: column;
    }
    .context{
        padding: 0;
    }
    .type{
        width: 400px;
    }
    .left-t{
        display: none;
    }
    .nameCon{
        width: 80%;
        max-width: unset;
    }
    .nameIntro{
        text-align: left;
        margin: 0 0 10px 0;
        display: none;
    }
    .r-nameCon{
        order: -1;
    }
    .name{
        display: none;
    }
    .mobile-name{
        display: block;
    }
    .linebox{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .selectCon{
        width: 100%;
    }
    .nameCon{
        width: 100%;
    }
    .typeText{
        padding: 0 25px;
    }
}
@media only screen and (max-width: 540px){
    .selectCon{
        flex-wrap: wrap;
    }
    .type{
        width: 100%;
    }
}