section{
    max-width: 1200px;
    margin: 50px 0 0 0;
}
.searchCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.typeBtnGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 500px; */
}
.qType{
    display: none;
}
.typeBtnGroup label{
    width: 95px;
    height: 25px;
    margin: 10px 3px;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    font-size: 1rem;
    letter-spacing: 1.5px;
    transition: .3s;
    cursor: pointer;
}
#empty{
    display: none;
}
.qType:checked+label{
    background: #F58032;
    font-weight: 500;
    color: #FFF;
}
.searchBar{
    display: flex;
    align-items: stretch;
    margin: 15px 0 ;
    padding: 0;
    border-radius: 8px;
    border: 2px solid #F58032;
}
.searchText{
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 0 0 20px;
    border-radius: 8px 0 0 8px;
    border: none;
    font-size: 0.9rem;
    background: rgba(255,255,255,.75);
}
.searchBtn{
    width: 40px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #F58032;
    cursor: pointer;
    transition: 0.3s;
}
.searchBtn:hover{
    color: #000;
}
.quest{
    margin: 30px 0;
}
.questTitle{
    position: relative;
    cursor: pointer;
}
.questTitle h4{
    background: #fff;
    margin: 0 0 0 25px;
    padding: 10px 10px 10px 40px;
    border-right: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
    border-radius: 10px;
    font-family: 'Noto Serif TC', serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    transition: .3s;
}
.questTitle h4.hover{
    color: #F58032;
}
.questTitle h4.active{
    border: none;
    border-radius: 10px 10px 0 0;
    background: #569EA6;
    color: #fff;
}
.questIcon{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate(0,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0;
    color: #fff;
    background: #4A5861;
    cursor: pointer;
}
.questCon{
    width: 100%;
}
.answer{
    display: none;
    margin: 0 0 0 25px;
    padding: 10px 10px 10px 40px;
    border-right: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
    border-radius: 0 0 10px 10px;
    background: #fff
}
.answerText{
    font-size: 0.9rem;
}

@media only screen and (max-width:580px){
    .typeBtnGroup{
        width: 100%;
    }
    .searchBar{
        width: 100%;
    }
}
@media only screen and (max-width:560px){
    #empty{
        display: block;
    }
}
@media only screen and (max-width:420px){
    .questTitle h4{
        background: #fff;
        margin: 0 0 0 15px;
        padding: 10px 10px 10px 30px;
    }
    .answer{
        margin: 0 0 0 15px;
        padding: 10px 10px 10px 30px;
    }
    .questIcon{
        width: 30px;
        height: 30px;
        font-size: 1rem;
        line-height: 35px;
    }
}