.BG-01 {
    background: url(../images/reserveGuide/BG-01.png) repeat;
    background-size: 100%;
    z-index: 100;
}
.BG-02 {
    background: url(../images/reserveGuide/BG-02.png) repeat;
    background-size: 100%;
    z-index: 100;
}
.BG-03 {
    background: url(../images/reserveGuide/BG-03.png) repeat;
    background-size: 100%;
    z-index: 100;
}

.headerImg {
    background: url(../images/reserveGuide/headimg.jpg) no-repeat;
    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
    height: 40vw;
    min-height: 300px;
    max-width: 100%;
    z-index: 1;
}
.question{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2;
    width: 170px;
    padding: 2px 5px;
    border-radius: 90px 0 0 90px;
    background: #F58032;
    cursor: pointer;
    transition: 0.5s;
}
.question span{
    margin: 0 10px 0 0;
    font-size: 2.2rem;
    line-height: 0.8;
    color: #fff;
}
.question h5{
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: 3px;
    color: #fff;
}
.title{
    position: absolute;
    top: 0;
    left: 200px;
    padding: 50px 0 0 0;
    text-shadow:  0 0 10px #000;
    color: #fff;
    top:10%
}
.searchBar_ul {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;
}
.searchBar_li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 10px;
    border: transparent 1px solid;
    border-radius: 10px;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.searchBar_li:hover {
    border: #569ea6 1px solid;
}
.searchBar_li p{
    margin: 0;
    border-bottom:  2px solid #8fcdb9;
    font-weight: 500;
    text-align: center;
    color: #666;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
article.reverse{
    flex-direction: row-reverse;
}
.stepText{
    padding: 30px;
    overflow: hidden;
}
.stepTitle{
    position: relative;
    display: flex;
    align-items: center;
}
.stepTitle::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(0,-23%);
    height: 5px;
    width: 95px;
    background: #8fcdb9;
}
.stepNum{
    margin: 0 30px 0 0;
    font-weight: 600;
    color: #4a5861;
}
.stepName{
    font-weight: 600;
    color: #569ea6;
}
.stepCon{
    max-width: 650px;
    margin: 25px 0 0 0;
    padding: 40px;
    border-radius:10px;
    background: rgba(255,255,255,.8);
}
.littleTitle{
    color: #569ea6;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.stepFoot a{
    display: block;
    max-width: 130px;
    margin: 40px 0 0 0;
    padding: 3px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3px;
    color: #fff;
    background: rgba(245, 128, 50, 1);
    cursor: pointer;
    transition: 0.5s;  
}
.stepFoot a:hover {
    background: rgb(187, 97, 37);
    color: #ccc;
}
.stepImg{
    width: 35%;
    max-width: 350px;
    min-width: 220px;
}
.stepImg img{
    width: 100%; 
}
hr{
    margin: 100px 20%;
    border: 1px solid #bbb;
}
/* ----------------------------動畫------------------------------- */
.invisible {
    opacity: 0;
}
.fadeInUp {
    animation: fadeInUp 1s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }to{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.infadeIn {
    opacity: 0;
}
.fadeIn {
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.indraw {
    width: 0;
}
.draw {
    animation: draw 2s;
}
@keyframes draw {
    from {width: 0;}
    to {width: 60%;}
}
/* -----------------------------------RWD--------------------------------------- */
@media screen and (max-width: 960px) {
    .headerImg{
        background-size: 100%;
    }
    .stepImg{
        display: none;
    }
    .stepTitle{
        /* padding: 0; */
        justify-content: center;
    }
    .stepTitle::after{
        left: 50%;
        transform: translate(-50%,0)
    }
    .stepCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 50px 0; */
    }
    .stepCon p{
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .question{
        top: 12px;
    }
    .title{
        padding: 80px 0 0 0;
        left: 6%;
    }
    .searchBar_ul {
        flex-direction: column;
    }
    .searchBar_li {
        margin: 8px auto;
        padding: 5px 4px;
        border: 2px solid #8fcdb9;
        font-size: 1.5rem;
    }
    .searchBar_li:hover {
        border: 2px solid #8fcdb9;
    }
    .searchBar_li p{
        padding: 0 5px;
        border: none;
        border-radius: 10px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2;
        color: #666;
    }
}
@media screen and (max-width: 580px) {
    .stepText{
        padding: 0;
    }
    .headerImg{
        background-size: 580px;
    }
    .stepNum, .stepName{
        font-size: 3rem;
    }
    .stepCon{
        padding: 40px 20px;
    }
}
@media screen and (max-width: 500px) {
    .fadeInUp {
        animation: fadeInUp 0.5s;
    }
    .draw {
        animation: draw 1s;
    }
    @keyframes draw {
        from {width: 0;}
        to {width: 60%;}
    }
}
@media screen and (max-width: 370px){
    .stepTitle{
        flex-direction: column;
    }
    .stepNum{
        margin: 0;
    }
    @keyframes draw {
        from {width: 0;}
        to {width:60%;}
    }
}