section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0 0 0;
}
article{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
}
.sort{
    width: 45%;
    margin: 0 50px 0 0;
}
.sortTitle{
    display: flex;
    align-items: center;
}
.dots{
    display: block;
    padding: 10px 25px;
    font-size: 0.5rem;
    color: #F58032;
}
.sortTitle h2{
    font-size: 1.8rem;
}
.typeCon{
    border-radius: 10px;
    margin: 20px 0 0 0;
    overflow: hidden;
}
.type{
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.type img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}
.type:hover img{
    transform: translate(-5%,10%) scale(1.2);
}
.typeText{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    background: rgba(0,0,0,.75);
    transition: 0.7s;
}

.type:nth-child(2) .typeText{
    border-top: 1px solid #fff;
}
.type:hover .typeText{
    background: transparent;
}
.typeTitle{
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 10px;
    color: #fff;
    transition: 0.7s;
}
.type:hover .typeTitle{
    transform: translate(0,-100%);
    opacity: 0;
}
.line{
    width: 100%;
    height: 0.5;
    margin: 15px 0;
    border-bottom: 1px solid #fff;
    transition: 0.7s;
}
.type:hover .line{
    width: 0;
}
.typeIntro{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 100;
    color: #fff;
    transition: 0.7s;
}
.type:hover .typeIntro{
    transform: translate(0,100%);
    opacity: 0;
}
/* ----------------------------------------RWD-------------------------------------------- */
@media only screen and (max-width: 1024px){
    article{
        flex-direction: column;
    }
    .sort{
        width: 100%;
    }
    .typeCon{
        display: flex;
        margin: 20px 0 50px 0;
    }
    .type:nth-child(2) .typeText{
        border-top: none;
        border-left: 1px solid #fff;
    }
}
@media only screen and (max-width: 540px){
    .typeCon{
        display: block;
        margin: 20px 0 50px 0;
    }
    .type:nth-child(2) .typeText{
        border-top: 1px solid #fff;
        border-left: none;
    }
}